
/* @Usage:        Project styles
* @Description:  Project specific styling 
// ---------------------------------------------------------------------- */

@picture-size-small: 15% ;
@margin-small: 4%;
@picture-and-margin-small: @picture-size-small + @margin-small;

@picture-size: 80% ;
@margin: 10%;
@picture-and-margin: @picture-size + @margin;

body {
  background: url("../images/wall.jpg") no-repeat;
  background-size: cover;
}

.wrap {
  width: 50%;
  max-height: 100%;
  margin: 0 auto;
}

.frame {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}



.frame > div { 
  width: @picture-size;
  height: @picture-size;
  position: absolute;
  transition: top 0.5s ease, left 0.5s ease, outline 0s;
  background: center center no-repeat;
  background-size: contain;
}

.topmost {     top: -(@picture-size + @picture-and-margin) }
.top {         top: -@picture-size }
.center {      top: @margin }
.bottom {      top: @margin + @picture-and-margin }
.bottommost {  top: @margin + (@picture-and-margin * 2)}

.leftest {  left: -(@picture-size + @picture-and-margin) }
.left {     left: -@picture-size }
.middle {   left: @margin }
.right {    left: @margin + @picture-and-margin }
.rightest { left: @margin + (@picture-and-margin * 2) }

.rightest, .leftest, .bottommost, .topmost {  visibility: hidden }

.zoomed-out{
  > div {
    width: @picture-size-small;
    height: @picture-size-small;
  }

  > div:hover {
    outline: 4px solid #BADA55;
  }

  .topmost {     top: @margin-small }
  .top {         top: @margin-small +   @picture-and-margin-small }
  .center {      top: @margin-small +  (@picture-and-margin-small * 2) }
  .bottom {      top: @margin-small +  (@picture-and-margin-small * 3) }
  .bottommost {  top: @margin-small +  (@picture-and-margin-small * 4) }

  
  .leftest {   left: @margin-small }
  .left {      left: @margin-small +   @picture-and-margin-small }
  .middle {    left: @margin-small +  (@picture-and-margin-small * 2) }
  .right {     left: @margin-small +  (@picture-and-margin-small * 3) }
  .rightest {  left: @margin-small +  (@picture-and-margin-small * 4) }

  .rightest, .leftest, .bottommost, .topmost {  visibility: visible }
}
