
/* @Usage:        Project styles
* @Description:  Project specific styling 
// ---------------------------------------------------------------------- */
@red: red;

@picture-size-small: 15% ;
@margin-small: 4%;
@picture-and-margin-small: @picture-size-small + @margin-small;

@picture-size: 80% ;
@margin: 10%;
@picture-and-margin: @picture-size + @margin;
@reduce-margin: 0;

.wrap {
  width: 50%;
  max-height: 100%;
  margin: 0 auto;
}

.frame {
  position: relative;
  background: url("../images/wall.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}

.frame > div { 
  width: @picture-size;
  height: @picture-size;
  position: absolute;
  transition: all 0.5s ease;
  background-repeat: no-repeat;
  background-position:  center center;
  background-size: contain;
}


.topmost {
  top: -(@picture-size + @margin + @picture-size)
} 

.top {
  top: -@picture-size;
}

.center {
  top: @margin;
}

.bottom {
  top: @margin + @picture-and-margin;
}

.bottommost {
  top: @margin + (@picture-and-margin * 2)
}

.leftest {
  left: -(@picture-size + @margin + @picture-size) + @reduce-margin * 2;
}

.left {
  left: -@picture-size
}

.middle {
  left: @margin;
}

.right {
  left: @margin + @picture-and-margin;
}

.rightest {
  left: @margin + (@picture-and-margin * 2)
}

.rightest, .leftest, .bottommost, .topmost {
  visibility: hidden;
}



.zoomed-out{
  div {
    width: @picture-size-small;
    height: @picture-size-small;
  }

  .topmost {     top: @margin-small;  }
  .top {         top: @margin-small +   @picture-and-margin-small}
  .center {      top: @margin-small +  (@picture-and-margin-small * 2)}
  .bottom {      top: @margin-small +  (@picture-and-margin-small * 3)}
  .bottommost {  top: @margin-small +  (@picture-and-margin-small * 4)}
  
  .leftest {   left: @margin-small;  }
  .left {      left: @margin-small +   @picture-and-margin-small}
  .middle {    left: @margin-small +  (@picture-and-margin-small * 2)}
  .right {     left: @margin-small +  (@picture-and-margin-small * 3)}
  .rightest {  left: @margin-small +  (@picture-and-margin-small * 4)}

  .rightest, .leftest, .bottommost, .topmost {
    visibility: visible;
  }
}

