
/* @Usage:        Project styles
* @Description:  Project specific styling 
// ---------------------------------------------------------------------- */
@red: red;

@position-body-sma: 15% ;
@margin-sma: 4%;
@body-and-margin-sma: @position-body-sma + @margin-sma;

@position-body: 80% ; // 80
@margin: 10%;          // 10
@reduce-margin: 0;

#wrap {
  width: 50%;
  max-height: 100%;
  margin: 0 auto;
}

.frame {
  position: relative;
  background: url("../images/wall.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}

.frame > div { 
  width: @position-body;
  height: @position-body;
  position: absolute;
  transition: all 0.5s ease;
  background-repeat: no-repeat;
  background-position:  center center;
  background-size: contain;
}


.topmost {
  top: -(@position-body * 2 + @margin - @reduce-margin * 2) 
} 

.top {
  top: -@position-body + @reduce-margin;
}

.center {
  top: @margin;
}

.bottom {
  top: @margin + @position-body + @margin - @reduce-margin;
}

.bottommost {
  top: @margin + @position-body + @margin + @position-body + @margin - @reduce-margin * 2;
}

.leftest {
  left: -(@position-body + @margin + @position-body) + @reduce-margin * 2;
}

.left {
  left: -@position-body + @reduce-margin
}

.middle {
  left: @margin;
}

.right {
  left: @margin + @position-body + @margin - @reduce-margin;
}

.rightest {
  left: @margin + @position-body + @margin + @position-body + @margin - @reduce-margin * 2;
}

.rightest, .leftest, .bottommost, .topmost {
  visibility: hidden;
}



.zoomed-out{
  div {
    width: @position-body-sma;
    height: @position-body-sma;
  }

  .topmost {     top: @margin-sma;  }
  .top {         top: @margin-sma +   @body-and-margin-sma}
  .center {      top: @margin-sma +  (@body-and-margin-sma * 2)}
  .bottom {      top: @margin-sma +  (@body-and-margin-sma * 3)}
  .bottommost {  top: @margin-sma +  (@body-and-margin-sma * 4)}
  
  .leftest {   left: @margin-sma;  }
  .left {      left: @margin-sma +   @body-and-margin-sma}
  .middle {    left: @margin-sma +  (@body-and-margin-sma * 2)}
  .right {     left: @margin-sma +  (@body-and-margin-sma * 3)}
  .rightest {  left: @margin-sma +  (@body-and-margin-sma * 4)}

  .rightest, .leftest, .bottommost, .topmost {
    visibility: visible;
  }
}

